.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.options-page-global-fields h2 {
	font-weight: bold;
}
.options-page-global-fields .add_new_option_wrap {
	min-height: 3rem;
	padding: .5rem;
	background: #eaeaea;
	margin-bottom: 2rem;
}
.options-page-global-fields .add_new_option_wrap .add_new_btn_wrap {
	padding-bottom: 1rem;
}
.options-page-global-fields .add_new_option_wrap .add_new_btn_wrap div {
	display: inline-block;
	font-size: .75rem;
	font-weight: 500;
	line-height: .5rem;
	padding: 0;
	cursor: pointer;
	padding: .5rem;
	border-radius: .2rem;
	background: #c7c7c7;
}
.options-page-global-fields .add_new_option_wrap .radio_wrap {
	background: #fff;
	padding: .2rem;
	border: 1px solid #7e8993;
	border-radius: .3rem;

}
.options-page-global-fields .add_new_option_wrap .new_option_specs {
	display: none;
}
.options-page-global-fields .add_new_option_wrap .new_option_specs .input_wrap {
	display: inline-block;
	vertical-align: top;
}
.options-page-global-fields .add_new_option_wrap .new_option_specs .input_wrap.radio p {
	display: inline-block;
	padding-right: .8rem;
}
.options-page-global-fields .add_new_option_wrap .new_option_specs .input_wrap.radio {
	padding: 0;
	text-align: center;
}
.options-page-global-fields .add_new_option_wrap .new_option_specs .input_wrap.radio input {
	/*margin: 0 auto;*/
}
.options-page-global-fields .add_new_option_wrap .new_option_specs .input_wrap:first-child {
	margin-right: 1.5rem;
}
.options-page-global-fields .add_new_option_wrap .new_option_specs .submit_wrap {
	display: block;
}
.options-page-global-fields .add_new_option_wrap .new_option_specs.showing {
	display: block;
}
.options-page-global-fields .input_wrap {
	padding-bottom: 1rem;
}
.options-page-global-fields .input_wrap p {
	margin: 0;
	padding-bottom: .2rem;
}
.options-page-global-fields .img_wrap {
	display: block;
}
.options-page-global-fields .img_wrap img {
	margin: 1.5rem 1rem 1rem;
}
.options-page-global-fields .input_wrap .option_url {
	margin-right: .5rem;
}
.options-page-global-fields .input_wrap.submit_wrap {
	padding-top: 1rem;
}
.options-page-global-fields .input_wrap.submit_wrap input {
	cursor: pointer;
}
.options-page-global-fields .radio_wrap .input_wrap {
	display: inline-block;
	padding: 0 .5rem;
}